include .coveragerc
include .gitignore
include .travis.yml
include CHANGES
include LICENSE
include MANIFEST.in
include README.rst
include dev-requirements.txt
include docs/Makefile
include docs/conf.py
include docs/contents.rst
include docs/dictionary.txt
include docs/faq.rst
include docs/index.rst
include docs/make.bat
include docs/runner.rst
include dodo.py
include pytest_incremental.py
include setup.py
include tests/sample-import/README
include tests/sample-import/bar.py
include tests/sample-import/baz.py
include tests/sample-import/foo/__init__.py
include tests/sample-import/foo/foo_a.py
include tests/sample-import/foo/foo_b.py
include tests/sample-import/foo/foo_c.py
include tests/sample-import/foo/foo_d.py
include tests/sample-import/foo/foo_e.py
include tests/sample-import/foo/foo_f.py
include tests/sample-import/foo/sub/__init__.py
include tests/sample-import/foo/sub/sub_a.py
include tests/sample-import/foo/sub/sub_b.py
include tests/sample-inc/dodo.py
include tests/sample-inc/mod1.py
include tests/sample-inc/mod2.py
include tests/sample-inc/tt/conftest.py
include tests/sample-inc/tt/tt_mod1.py
include tests/sample-inc/tt/tt_mod2.py
include tests/test_functional.py
include tests/test_graph.py
include tests/test_import.py
include tests/test_tasks.py
include tox.ini
include revision.txt
